CoverityDefectUpdater/BusinessLogic/Service References/CoverityService/configurationservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.coverity.com/v9" targetNamespace="http://ws.coverity.com/v9" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CoverityFault" type="tns:CovRemoteServiceException" />
  <xs:element name="copyStream" type="tns:copyStream" />
  <xs:element name="copyStreamResponse" type="tns:copyStreamResponse" />
  <xs:element name="createAttribute" type="tns:createAttribute" />
  <xs:element name="createAttributeResponse" type="tns:createAttributeResponse" />
  <xs:element name="createComponentMap" type="tns:createComponentMap" />
  <xs:element name="createComponentMapResponse" type="tns:createComponentMapResponse" />
  <xs:element name="createGroup" type="tns:createGroup" />
  <xs:element name="createGroupResponse" type="tns:createGroupResponse" />
  <xs:element name="createLdapConfiguration" type="tns:createLdapConfiguration" />
  <xs:element name="createLdapConfigurationResponse" type="tns:createLdapConfigurationResponse" />
  <xs:element name="createProject" type="tns:createProject" />
  <xs:element name="createProjectResponse" type="tns:createProjectResponse" />
  <xs:element name="createRole" type="tns:createRole" />
  <xs:element name="createRoleResponse" type="tns:createRoleResponse" />
  <xs:element name="createStream" type="tns:createStream" />
  <xs:element name="createStreamInProject" type="tns:createStreamInProject" />
  <xs:element name="createStreamInProjectResponse" type="tns:createStreamInProjectResponse" />
  <xs:element name="createStreamResponse" type="tns:createStreamResponse" />
  <xs:element name="createTriageStore" type="tns:createTriageStore" />
  <xs:element name="createTriageStoreResponse" type="tns:createTriageStoreResponse" />
  <xs:element name="createUser" type="tns:createUser" />
  <xs:element name="createUserResponse" type="tns:createUserResponse" />
  <xs:element name="deleteAttribute" type="tns:deleteAttribute" />
  <xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse" />
  <xs:element name="deleteComponentMap" type="tns:deleteComponentMap" />
  <xs:element name="deleteComponentMapResponse" type="tns:deleteComponentMapResponse" />
  <xs:element name="deleteGroup" type="tns:deleteGroup" />
  <xs:element name="deleteGroupResponse" type="tns:deleteGroupResponse" />
  <xs:element name="deleteLdapConfiguration" type="tns:deleteLdapConfiguration" />
  <xs:element name="deleteLdapConfigurationResponse" type="tns:deleteLdapConfigurationResponse" />
  <xs:element name="deleteProject" type="tns:deleteProject" />
  <xs:element name="deleteProjectResponse" type="tns:deleteProjectResponse" />
  <xs:element name="deleteRole" type="tns:deleteRole" />
  <xs:element name="deleteRoleResponse" type="tns:deleteRoleResponse" />
  <xs:element name="deleteSnapshot" type="tns:deleteSnapshot" />
  <xs:element name="deleteSnapshotResponse" type="tns:deleteSnapshotResponse" />
  <xs:element name="deleteStream" type="tns:deleteStream" />
  <xs:element name="deleteStreamResponse" type="tns:deleteStreamResponse" />
  <xs:element name="deleteTriageStore" type="tns:deleteTriageStore" />
  <xs:element name="deleteTriageStoreResponse" type="tns:deleteTriageStoreResponse" />
  <xs:element name="deleteUser" type="tns:deleteUser" />
  <xs:element name="deleteUserResponse" type="tns:deleteUserResponse" />
  <xs:element name="executeNotification" type="tns:executeNotification" />
  <xs:element name="executeNotificationResponse" type="tns:executeNotificationResponse" />
  <xs:element name="getAllLdapConfigurations" type="tns:getAllLdapConfigurations" />
  <xs:element name="getAllLdapConfigurationsResponse" type="tns:getAllLdapConfigurationsResponse" />
  <xs:element name="getAllPermissions" type="tns:getAllPermissions" />
  <xs:element name="getAllPermissionsResponse" type="tns:getAllPermissionsResponse" />
  <xs:element name="getAllRoles" type="tns:getAllRoles" />
  <xs:element name="getAllRolesResponse" type="tns:getAllRolesResponse" />
  <xs:element name="getArchitectureAnalysisConfiguration" type="tns:getArchitectureAnalysisConfiguration" />
  <xs:element name="getArchitectureAnalysisConfigurationResponse" type="tns:getArchitectureAnalysisConfigurationResponse" />
  <xs:element name="getAttribute" type="tns:getAttribute" />
  <xs:element name="getAttributeResponse" type="tns:getAttributeResponse" />
  <xs:element name="getAttributes" type="tns:getAttributes" />
  <xs:element name="getAttributesResponse" type="tns:getAttributesResponse" />
  <xs:element name="getBackupConfiguration" type="tns:getBackupConfiguration" />
  <xs:element name="getBackupConfigurationResponse" type="tns:getBackupConfigurationResponse" />
  <xs:element name="getCategoryNames" type="tns:getCategoryNames" />
  <xs:element name="getCategoryNamesResponse" type="tns:getCategoryNamesResponse" />
  <xs:element name="getCheckerNames" type="tns:getCheckerNames" />
  <xs:element name="getCheckerNamesResponse" type="tns:getCheckerNamesResponse" />
  <xs:element name="getCommitState" type="tns:getCommitState" />
  <xs:element name="getCommitStateResponse" type="tns:getCommitStateResponse" />
  <xs:element name="getComponent" type="tns:getComponent" />
  <xs:element name="getComponentMaps" type="tns:getComponentMaps" />
  <xs:element name="getComponentMapsResponse" type="tns:getComponentMapsResponse" />
  <xs:element name="getComponentResponse" type="tns:getComponentResponse" />
  <xs:element name="getDefectStatuses" type="tns:getDefectStatuses" />
  <xs:element name="getDefectStatusesResponse" type="tns:getDefectStatusesResponse" />
  <xs:element name="getDeleteSnapshotJobInfo" type="tns:getDeleteSnapshotJobInfo" />
  <xs:element name="getDeleteSnapshotJobInfoResponse" type="tns:getDeleteSnapshotJobInfoResponse" />
  <xs:element name="getDeveloperStreamsProjects" type="tns:getDeveloperStreamsProjects" />
  <xs:element name="getDeveloperStreamsProjectsResponse" type="tns:getDeveloperStreamsProjectsResponse" />
  <xs:element name="getGroup" type="tns:getGroup" />
  <xs:element name="getGroupResponse" type="tns:getGroupResponse" />
  <xs:element name="getGroups" type="tns:getGroups" />
  <xs:element name="getGroupsResponse" type="tns:getGroupsResponse" />
  <xs:element name="getLastUpdateTimes" type="tns:getLastUpdateTimes" />
  <xs:element name="getLastUpdateTimesResponse" type="tns:getLastUpdateTimesResponse" />
  <xs:element name="getLdapServerDomains" type="tns:getLdapServerDomains" />
  <xs:element name="getLdapServerDomainsResponse" type="tns:getLdapServerDomainsResponse" />
  <xs:element name="getLicenseConfiguration" type="tns:getLicenseConfiguration" />
  <xs:element name="getLicenseConfigurationResponse" type="tns:getLicenseConfigurationResponse" />
  <xs:element name="getLicenseState" type="tns:getLicenseState" />
  <xs:element name="getLicenseStateResponse" type="tns:getLicenseStateResponse" />
  <xs:element name="getLoggingConfiguration" type="tns:getLoggingConfiguration" />
  <xs:element name="getLoggingConfigurationResponse" type="tns:getLoggingConfigurationResponse" />
  <xs:element name="getMessageOfTheDay" type="tns:getMessageOfTheDay" />
  <xs:element name="getMessageOfTheDayResponse" type="tns:getMessageOfTheDayResponse" />
  <xs:element name="getOutputFileForSnapshot" type="tns:getOutputFileForSnapshot" />
  <xs:element name="getOutputFileForSnapshotResponse" type="tns:getOutputFileForSnapshotResponse" />
  <xs:element name="getProjects" type="tns:getProjects" />
  <xs:element name="getProjectsResponse" type="tns:getProjectsResponse" />
  <xs:element name="getRole" type="tns:getRole" />
  <xs:element name="getRoleResponse" type="tns:getRoleResponse" />
  <xs:element name="getServerTime" type="tns:getServerTime" />
  <xs:element name="getServerTimeResponse" type="tns:getServerTimeResponse" />
  <xs:element name="getSignInConfiguration" type="tns:getSignInConfiguration" />
  <xs:element name="getSignInConfigurationResponse" type="tns:getSignInConfigurationResponse" />
  <xs:element name="getSkeletonizationConfiguration" type="tns:getSkeletonizationConfiguration" />
  <xs:element name="getSkeletonizationConfigurationResponse" type="tns:getSkeletonizationConfigurationResponse" />
  <xs:element name="getSnapshotInformation" type="tns:getSnapshotInformation" />
  <xs:element name="getSnapshotInformationResponse" type="tns:getSnapshotInformationResponse" />
  <xs:element name="getSnapshotPurgeDetails" type="tns:getSnapshotPurgeDetails" />
  <xs:element name="getSnapshotPurgeDetailsResponse" type="tns:getSnapshotPurgeDetailsResponse" />
  <xs:element name="getSnapshotsForStream" type="tns:getSnapshotsForStream" />
  <xs:element name="getSnapshotsForStreamResponse" type="tns:getSnapshotsForStreamResponse" />
  <xs:element name="getStreams" type="tns:getStreams" />
  <xs:element name="getStreamsResponse" type="tns:getStreamsResponse" />
  <xs:element name="getSystemConfig" type="tns:getSystemConfig" />
  <xs:element name="getSystemConfigResponse" type="tns:getSystemConfigResponse" />
  <xs:element name="getTriageStores" type="tns:getTriageStores" />
  <xs:element name="getTriageStoresResponse" type="tns:getTriageStoresResponse" />
  <xs:element name="getTypeNames" type="tns:getTypeNames" />
  <xs:element name="getTypeNamesResponse" type="tns:getTypeNamesResponse" />
  <xs:element name="getUser" type="tns:getUser" />
  <xs:element name="getUserResponse" type="tns:getUserResponse" />
  <xs:element name="getUsers" type="tns:getUsers" />
  <xs:element name="getUsersResponse" type="tns:getUsersResponse" />
  <xs:element name="getVersion" type="tns:getVersion" />
  <xs:element name="getVersionResponse" type="tns:getVersionResponse" />
  <xs:element name="importLicense" type="tns:importLicense" />
  <xs:element name="importLicenseResponse" type="tns:importLicenseResponse" />
  <xs:element name="mergeTriageStores" type="tns:mergeTriageStores" />
  <xs:element name="mergeTriageStoresResponse" type="tns:mergeTriageStoresResponse" />
  <xs:element name="notify" type="tns:notify" />
  <xs:element name="notifyResponse" type="tns:notifyResponse" />
  <xs:element name="setAcceptingNewCommits" type="tns:setAcceptingNewCommits" />
  <xs:element name="setAcceptingNewCommitsResponse" type="tns:setAcceptingNewCommitsResponse" />
  <xs:element name="setArchitectureAnalysisConfiguration" type="tns:setArchitectureAnalysisConfiguration" />
  <xs:element name="setArchitectureAnalysisConfigurationResponse" type="tns:setArchitectureAnalysisConfigurationResponse" />
  <xs:element name="setBackupConfiguration" type="tns:setBackupConfiguration" />
  <xs:element name="setBackupConfigurationResponse" type="tns:setBackupConfigurationResponse" />
  <xs:element name="setLoggingConfiguration" type="tns:setLoggingConfiguration" />
  <xs:element name="setLoggingConfigurationResponse" type="tns:setLoggingConfigurationResponse" />
  <xs:element name="setMessageOfTheDay" type="tns:setMessageOfTheDay" />
  <xs:element name="setMessageOfTheDayResponse" type="tns:setMessageOfTheDayResponse" />
  <xs:element name="setSkeletonizationConfiguration" type="tns:setSkeletonizationConfiguration" />
  <xs:element name="setSkeletonizationConfigurationResponse" type="tns:setSkeletonizationConfigurationResponse" />
  <xs:element name="setSnapshotPurgeDetails" type="tns:setSnapshotPurgeDetails" />
  <xs:element name="setSnapshotPurgeDetailsResponse" type="tns:setSnapshotPurgeDetailsResponse" />
  <xs:element name="updateAttribute" type="tns:updateAttribute" />
  <xs:element name="updateAttributeResponse" type="tns:updateAttributeResponse" />
  <xs:element name="updateComponentMap" type="tns:updateComponentMap" />
  <xs:element name="updateComponentMapResponse" type="tns:updateComponentMapResponse" />
  <xs:element name="updateGroup" type="tns:updateGroup" />
  <xs:element name="updateGroupResponse" type="tns:updateGroupResponse" />
  <xs:element name="updateLdapConfiguration" type="tns:updateLdapConfiguration" />
  <xs:element name="updateLdapConfigurationResponse" type="tns:updateLdapConfigurationResponse" />
  <xs:element name="updateProject" type="tns:updateProject" />
  <xs:element name="updateProjectResponse" type="tns:updateProjectResponse" />
  <xs:element name="updateRole" type="tns:updateRole" />
  <xs:element name="updateRoleResponse" type="tns:updateRoleResponse" />
  <xs:element name="updateSignInConfiguration" type="tns:updateSignInConfiguration" />
  <xs:element name="updateSignInConfigurationResponse" type="tns:updateSignInConfigurationResponse" />
  <xs:element name="updateSnapshotInfo" type="tns:updateSnapshotInfo" />
  <xs:element name="updateSnapshotInfoResponse" type="tns:updateSnapshotInfoResponse" />
  <xs:element name="updateStream" type="tns:updateStream" />
  <xs:element name="updateStreamResponse" type="tns:updateStreamResponse" />
  <xs:element name="updateTriageStore" type="tns:updateTriageStore" />
  <xs:element name="updateTriageStoreResponse" type="tns:updateTriageStoreResponse" />
  <xs:element name="updateUser" type="tns:updateUser" />
  <xs:element name="updateUserResponse" type="tns:updateUserResponse" />
  <xs:complexType name="updateRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdDataObj" />
      <xs:element minOccurs="0" name="roleSpec" type="tns:roleSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="deletable" type="xs:boolean" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permissionDataObjs" nillable="true" type="tns:permissionDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="permissionDataObj">
    <xs:sequence>
      <xs:element name="permissionValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateRoleResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CovRemoteServiceException">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLdapServerDomains">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLdapServerDomainsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serverDomainIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serverDomainIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeleteSnapshotJobInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="snapshotId" type="tns:snapshotIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshotIdDataObj">
    <xs:sequence>
      <xs:element name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeleteSnapshotJobInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:deleteSnapshotJobInfoDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSnapshotJobInfoDataObj">
    <xs:sequence>
      <xs:element name="snapshotId" type="xs:long" />
      <xs:element minOccurs="0" name="status" type="tns:deleteSnapshotJobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectSpec" type="tns:projectSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="streams" nillable="true" type="tns:streamIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="streamLinks" nillable="true" type="tns:streamIdDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="streamIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleAssignmentDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupId" type="tns:groupIdDataObj" />
      <xs:element minOccurs="0" name="roleAssignmentType" type="xs:string" />
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdDataObj" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupIdDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" name="domain" type="tns:serverDomainIdDataObj" />
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProjectResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleSpec" type="tns:roleSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createRoleResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteLdapConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteLdapConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="streamSpec" type="tns:streamSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="streamSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="allowCommitWithoutPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="analysisVersionOverride" type="xs:string" />
      <xs:element minOccurs="0" name="autoDeleteOnExpiry" type="xs:boolean" />
      <xs:element minOccurs="0" name="componentMapId" type="tns:componentMapIdDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="enableDesktopAnalysis" type="xs:boolean" />
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="outdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="pluginVersionOverride" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="summaryExpirationDays" type="xs:int" />
      <xs:element minOccurs="0" name="triageStoreId" type="tns:triageStoreIdDataObj" />
      <xs:element minOccurs="0" name="versionMismatchMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentMapIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="triageStoreIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createStreamResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:userFilterSpecDataObj" />
      <xs:element minOccurs="0" name="pageSpec" type="tns:pageSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="assignable" type="xs:boolean" />
      <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groupsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="includeDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="ldap" type="xs:boolean" />
      <xs:element minOccurs="0" name="locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
      <xs:element minOccurs="0" name="projectIdDataObj" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="startId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pageSpecDataObj">
    <xs:sequence>
      <xs:element name="pageSize" type="xs:int" />
      <xs:element name="sortAscending" type="xs:boolean" />
      <xs:element minOccurs="0" name="sortField" type="xs:string" />
      <xs:element name="startIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usersPageDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersPageDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="users" nillable="true" type="tns:userDataObj" />
      <xs:element minOccurs="0" name="totalNumberOfRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateDeleted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="domain" type="tns:serverDomainIdDataObj" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="familyName" type="xs:string" />
      <xs:element minOccurs="0" name="givenName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groups" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="local" type="xs:boolean" />
      <xs:element minOccurs="0" name="locale" type="xs:string" />
      <xs:element minOccurs="0" name="locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="passwordChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="superUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="userCreated" type="xs:string" />
      <xs:element minOccurs="0" name="userDeleted" type="xs:string" />
      <xs:element minOccurs="0" name="userModified" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="snapshotId" type="tns:snapshotIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSnapshotResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTypeNames">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTypeNamesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:localizedValueDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localizedValueDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGroups">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:groupFilterSpecDataObj" />
      <xs:element minOccurs="0" name="pageSpec" type="tns:pageSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldap" type="xs:boolean" />
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
      <xs:element minOccurs="0" name="projectIdDataObj" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userList" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGroupsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:groupsPageDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupsPageDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groups" nillable="true" type="tns:groupDataObj" />
      <xs:element minOccurs="0" name="totalNumberOfRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element name="local" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" type="tns:groupIdDataObj" />
      <xs:element name="syncEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSystemConfig">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSystemConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:configurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="commitPort" type="xs:long" />
      <xs:element minOccurs="0" name="dbDialect" type="xs:string" />
      <xs:element minOccurs="0" name="dbDriver" type="xs:string" />
      <xs:element minOccurs="0" name="issueExportUrl" type="xs:string" />
      <xs:element minOccurs="0" name="maindbName" type="xs:string" />
      <xs:element minOccurs="0" name="maindbUrl" type="xs:string" />
      <xs:element minOccurs="0" name="maindbUser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStreams">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:streamFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="streamFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="languageList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionPattern" type="xs:string" />
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStreamsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:streamDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="streamDataObj">
    <xs:sequence>
      <xs:element name="autoDeleteOnExpiry" type="xs:boolean" />
      <xs:element minOccurs="0" name="componentMapId" type="tns:componentMapIdDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="tns:streamIdDataObj" />
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="outdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="primaryProjectId" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="triageStoreId" type="tns:triageStoreIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="analysisVersionOverride" type="xs:string" />
      <xs:element minOccurs="0" name="summaryExpirationDays" type="xs:int" />
      <xs:element minOccurs="0" name="pluginVersionOverride" type="xs:string" />
      <xs:element minOccurs="0" name="versionMismatchMessage" type="xs:string" />
      <xs:element minOccurs="0" name="enableDesktopAnalysis" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjects">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:projectFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="descriptionPattern" type="xs:string" />
      <xs:element minOccurs="0" name="includeChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="includeStreams" type="xs:boolean" />
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:projectDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="streams" nillable="true" type="tns:streamDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="streamLinks" nillable="true" type="tns:streamDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="projectKey" type="xs:long" />
      <xs:element minOccurs="0" name="userCreated" type="xs:string" />
      <xs:element minOccurs="0" name="userModified" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLastUpdateTimes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLastUpdateTimesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:featureUpdateTimeDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="featureUpdateTimeDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="featureName" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLoggingConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="loggingConfigurationDataObj" type="tns:loggingConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loggingConfigurationDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessControlLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="backgroundLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="commitLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="configurationLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="databaseLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="frameworkLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="internalLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="notificationLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="performanceLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="policyManagerLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="remoteConfigLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="requestPerformanceLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="skeletonizationLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="testAdvisorLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="triageLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="triageSynchLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="webLogging" type="xs:boolean" />
      <xs:element minOccurs="0" name="webServicesLogging" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLoggingConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAttributes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAttributesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:attributeDefinitionDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeDefinitionDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" />
      <xs:element minOccurs="0" name="attributeType" type="xs:string" />
      <xs:element name="builtIn" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="configurableValues" nillable="true" type="tns:attributeValueDataObj" />
      <xs:element minOccurs="0" name="defaultValue" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="displayDescription" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element name="showInTriage" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeDefinitionIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeValueDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeValueId" type="tns:attributeValueIdDataObj" />
      <xs:element name="deprecated" type="xs:boolean" />
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="issueKindList" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeValueIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupSpec" type="tns:groupSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="domain" type="tns:serverDomainIdDataObj" />
      <xs:element minOccurs="0" name="local" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="syncEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createGroupResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setSkeletonizationConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="skeletonizationConfigurationDataObj" type="tns:skeletonizationConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skeletonizationConfigurationDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="daysBeforeSkeletonization" type="xs:int" />
      <xs:element minOccurs="0" name="fridayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="minSnapshotsToKeep" type="xs:int" />
      <xs:element minOccurs="0" name="mondayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="saturdayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="sundayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="thursdayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="time" type="xs:string" />
      <xs:element minOccurs="0" name="tuesdayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="wednesdayEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSkeletonizationConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLicenseState">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLicenseStateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:licenseStateDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="licenseStateDataObj">
    <xs:sequence>
      <xs:element name="desktopAnalysisEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutputFileForSnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="snapshotId" type="tns:snapshotIdDataObj" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutputFileForSnapshotResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:outputFileDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputFileDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="contents" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCommitState">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCommitStateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:commitStateDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commitStateDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentCommitCount" type="xs:int" />
      <xs:element minOccurs="0" name="isAcceptingNewCommits" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="licenseSpecDataObj" type="tns:licenseSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="licenseSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="licenseDataFile" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importLicenseResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateLdapConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" />
      <xs:element minOccurs="0" name="ldapConfigurationSpec" type="tns:ldapConfigurationSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ldapConfigurationSpecDataObj">
    <xs:sequence>
      <xs:element name="anonymousBind" type="xs:boolean" />
      <xs:element minOccurs="0" name="baseDN" type="xs:string" />
      <xs:element minOccurs="0" name="bindName" type="xs:string" />
      <xs:element minOccurs="0" name="bindPassword" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" name="groupFilter" type="xs:string" />
      <xs:element name="groupFullName" type="xs:boolean" />
      <xs:element minOccurs="0" name="groupMember" type="xs:string" />
      <xs:element minOccurs="0" name="groupName" type="xs:string" />
      <xs:element minOccurs="0" name="groupObjectClass" type="xs:string" />
      <xs:element minOccurs="0" name="groupSearchBase" type="xs:string" />
      <xs:element name="primary" type="xs:boolean" />
      <xs:element name="secureConnection" type="xs:boolean" />
      <xs:element minOccurs="0" name="serverDomain" type="xs:string" />
      <xs:element minOccurs="0" name="serverPort" type="xs:long" />
      <xs:element name="tlsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="userEmail" type="xs:string" />
      <xs:element minOccurs="0" name="userFirstName" type="xs:string" />
      <xs:element minOccurs="0" name="userLastName" type="xs:string" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="userObjectClass" type="xs:string" />
      <xs:element minOccurs="0" name="userSearchBase" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateLdapConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategoryNames">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategoryNamesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:localizedValueDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setBackupConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="backupConfigurationDataObj" type="tns:backupConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="backupConfigurationDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="backupLocation" type="xs:string" />
      <xs:element minOccurs="0" name="backupTime" type="xs:string" />
      <xs:element name="fridayEnabled" type="xs:boolean" />
      <xs:element name="mondayEnabled" type="xs:boolean" />
      <xs:element name="saturdayEnabled" type="xs:boolean" />
      <xs:element name="sundayEnabled" type="xs:boolean" />
      <xs:element name="thursdayEnabled" type="xs:boolean" />
      <xs:element name="tuesdayEnabled" type="xs:boolean" />
      <xs:element name="wednesdayEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setBackupConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createTriageStore">
    <xs:sequence>
      <xs:element minOccurs="0" name="triageStoreSpec" type="tns:triageStoreSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="triageStoreSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createTriageStoreResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupId" type="tns:groupIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGroupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:groupDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="tns:projectIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProjectResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createStreamInProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="streamSpec" type="tns:streamSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createStreamInProjectResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getMessageOfTheDay">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getMessageOfTheDayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAcceptingNewCommits">
    <xs:sequence>
      <xs:element name="acceptNewCommits" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAcceptingNewCommitsResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteComponentMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentMapId" type="tns:componentMapIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteComponentMapResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentId" type="tns:componentIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentIdDataObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComponentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:componentDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element name="componentId" type="tns:componentIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subscribers" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="streamId" type="tns:streamIdDataObj" />
      <xs:element name="onlyIfEmpty" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteStreamResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllLdapConfigurations">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllLdapConfigurationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ldapConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ldapConfigurationDataObj">
    <xs:sequence>
      <xs:element name="anonymousBind" type="xs:boolean" />
      <xs:element minOccurs="0" name="baseDN" type="xs:string" />
      <xs:element minOccurs="0" name="bindName" type="xs:string" />
      <xs:element minOccurs="0" name="bindPassword" type="xs:string" />
      <xs:element minOccurs="0" name="groupFilter" type="xs:string" />
      <xs:element name="groupFullName" type="xs:boolean" />
      <xs:element minOccurs="0" name="groupMember" type="xs:string" />
      <xs:element minOccurs="0" name="groupName" type="xs:string" />
      <xs:element minOccurs="0" name="groupObjectClass" type="xs:string" />
      <xs:element minOccurs="0" name="groupSearchBase" type="xs:string" />
      <xs:element name="primary" type="xs:boolean" />
      <xs:element name="secureConnection" type="xs:boolean" />
      <xs:element minOccurs="0" name="serverDomain" type="xs:string" />
      <xs:element minOccurs="0" name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" />
      <xs:element minOccurs="0" name="serverPort" type="xs:long" />
      <xs:element name="tlsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="userEmail" type="xs:string" />
      <xs:element minOccurs="0" name="userFirstName" type="xs:string" />
      <xs:element minOccurs="0" name="userLastName" type="xs:string" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="userObjectClass" type="xs:string" />
      <xs:element minOccurs="0" name="userSearchBase" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeTriageStores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="srcTriageStoreIds" type="tns:triageStoreIdDataObj" />
      <xs:element minOccurs="0" name="triageStoreId" type="tns:triageStoreIdDataObj" />
      <xs:element name="deleteSourceStores" type="xs:boolean" />
      <xs:element name="assignStreamsToTargetStore" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeTriageStoresResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="executeNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="viewname" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeNotificationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSkeletonizationConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSkeletonizationConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:skeletonizationConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTriageStores">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:triageStoreFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="triageStoreFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="descriptionPattern" type="xs:string" />
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTriageStoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:triageStoreDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="triageStoreDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="tns:triageStoreIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="streamIds" nillable="true" type="tns:streamIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSnapshotInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="snapshotIds" type="tns:snapshotIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSnapshotInformationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:snapshotInfoDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshotInfoDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="analysisCommandLine" type="xs:string" />
      <xs:element minOccurs="0" name="analysisConfiguration" type="xs:string" />
      <xs:element minOccurs="0" name="analysisHost" type="xs:string" />
      <xs:element minOccurs="0" name="analysisIntermediateDir" type="xs:string" />
      <xs:element minOccurs="0" name="analysisInternalVersion" type="xs:string" />
      <xs:element minOccurs="0" name="analysisTime" type="xs:long" />
      <xs:element minOccurs="0" name="analysisVersion" type="xs:string" />
      <xs:element minOccurs="0" name="buildCommandLine" type="xs:string" />
      <xs:element minOccurs="0" name="buildConfiguration" type="xs:string" />
      <xs:element minOccurs="0" name="buildHost" type="xs:string" />
      <xs:element minOccurs="0" name="buildIntermediateDir" type="xs:string" />
      <xs:element minOccurs="0" name="buildTime" type="xs:long" />
      <xs:element minOccurs="0" name="codeVersionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="commitUser" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enabledCheckers" nillable="true" type="xs:string" />
      <xs:element name="hasSummaries" type="xs:boolean" />
      <xs:element minOccurs="0" name="impactHashVersion" type="xs:int" />
      <xs:element minOccurs="0" name="portableAnalysisSettings" type="xs:string" />
      <xs:element name="purgedOfDetails" type="xs:boolean" />
      <xs:element name="snapshotId" type="tns:snapshotIdDataObj" />
      <xs:element minOccurs="0" name="sourceVersion" type="xs:string" />
      <xs:element minOccurs="0" name="target" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllRoles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:roleDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="deletable" type="xs:boolean" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="editable" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permissionDataObjs" nillable="true" type="tns:permissionDataObj" />
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createComponentMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentMapSpec" type="tns:componentMapSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentMapSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentMapName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="componentPathRules" nillable="true" type="tns:componentPathRuleDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="components" nillable="true" type="tns:componentDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="defectRules" nillable="true" type="tns:componentDefectRuleDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentPathRuleDataObj">
    <xs:sequence>
      <xs:element name="componentId" type="tns:componentIdDataObj" />
      <xs:element name="pathPattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentDefectRuleDataObj">
    <xs:sequence>
      <xs:element name="componentId" type="tns:componentIdDataObj" />
      <xs:element name="defaultOwner" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createComponentMapResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllPermissions">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllPermissionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:permissionDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notify">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usernames" type="xs:string" />
      <xs:element minOccurs="0" name="subject" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notifyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServerTime">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getServerTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTriageStore">
    <xs:sequence>
      <xs:element minOccurs="0" name="triageStoreId" type="tns:triageStoreIdDataObj" />
      <xs:element minOccurs="0" name="triageStoreSpec" type="tns:triageStoreSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTriageStoreResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupId" type="tns:groupIdDataObj" />
      <xs:element minOccurs="0" name="groupSpec" type="tns:groupSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateGroupResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getArchitectureAnalysisConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getArchitectureAnalysisConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAttributeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setArchitectureAnalysisConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="architectureAnalysisConfiguration" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setArchitectureAnalysisConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttributeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:attributeDefinitionDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateComponentMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentMapId" type="tns:componentMapIdDataObj" />
      <xs:element minOccurs="0" name="componentMapSpec" type="tns:componentMapSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateComponentMapResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLicenseConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLicenseConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:licenseDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="licenseDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="xs:string" />
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="licenseEditionName" type="xs:string" />
      <xs:element minOccurs="0" name="loc" type="xs:long" />
      <xs:element minOccurs="0" name="locLimit" type="xs:long" />
      <xs:element name="userCount" type="xs:int" />
      <xs:element minOccurs="0" name="userLimit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSnapshotPurgeDetails">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSnapshotPurgeDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:snapshotPurgeDetailsObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshotPurgeDetailsObj">
    <xs:sequence>
      <xs:element name="daysBeforeSkeletonization" type="xs:int" />
      <xs:element name="fridayEnabled" type="xs:boolean" />
      <xs:element name="minSnapshotsToKeep" type="xs:int" />
      <xs:element name="mondayEnabled" type="xs:boolean" />
      <xs:element name="saturdayEnabled" type="xs:boolean" />
      <xs:element name="sundayEnabled" type="xs:boolean" />
      <xs:element name="thursdayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="timeOfDay" type="xs:string" />
      <xs:element name="tuesdayEnabled" type="xs:boolean" />
      <xs:element name="wednesdayEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="streamId" type="tns:streamIdDataObj" />
      <xs:element minOccurs="0" name="streamSpec" type="tns:streamSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStreamResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSignInConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSignInConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:signInSettingsDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signInSettingsDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="allowPasswordRecovery" type="xs:boolean" />
      <xs:element minOccurs="0" name="disableLocalPasswordAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="enableLdapAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="enableSessionTimeout" type="xs:boolean" />
      <xs:element minOccurs="0" name="ldapUserAutoCreate" type="xs:boolean" />
      <xs:element minOccurs="0" name="limitFailedSignIns" type="xs:boolean" />
      <xs:element minOccurs="0" name="maxFailedSignInAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="maxSessionIdleTime" type="xs:int" />
      <xs:element minOccurs="0" name="requireLdapGroupMembership" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupId" type="tns:groupIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGroupResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getBackupConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getBackupConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:backupConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeveloperStreamsProjects">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:projectFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeveloperStreamsProjectsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:projectDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:versionDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="versionDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="externalVersion" type="xs:string" />
      <xs:element minOccurs="0" name="internalVersion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteRoleResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getComponentMaps">
    <xs:sequence>
      <xs:element minOccurs="0" name="filterSpec" type="tns:componentMapFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentMapFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="namePattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComponentMapsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:componentMapDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentMapDataObj">
    <xs:sequence>
      <xs:element name="componentMapId" type="tns:componentMapIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="componentPathRules" nillable="true" type="tns:componentPathRuleDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="components" nillable="true" type="tns:componentDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="defectRules" nillable="true" type="tns:componentDefectRuleDataObj" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDefectStatuses">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getDefectStatusesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoggingConfiguration">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLoggingConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:loggingConfigurationDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="userSpec" type="tns:userSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="domain" type="tns:serverDomainIdDataObj" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="familyName" type="xs:string" />
      <xs:element minOccurs="0" name="givenName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groupNames" type="tns:groupIdDataObj" />
      <xs:element minOccurs="0" name="local" type="xs:boolean" />
      <xs:element minOccurs="0" name="locale" type="xs:string" />
      <xs:element minOccurs="0" name="locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roleAssignments" nillable="true" type="tns:roleAssignmentDataObj" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:roleDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="copyStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="sourceStreamId" type="tns:streamIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="copyStreamResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:streamDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSnapshotInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="snapshotId" type="tns:snapshotIdDataObj" />
      <xs:element minOccurs="0" name="snapshotData" type="tns:snapshotInfoDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSnapshotInfoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="tns:projectIdDataObj" />
      <xs:element minOccurs="0" name="projectSpec" type="tns:projectSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProjectResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateSignInConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="signInSettingsDataObj" type="tns:signInSettingsDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSignInConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeDefinitionSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeName" type="xs:string" />
      <xs:element minOccurs="0" name="attributeType" type="xs:string" />
      <xs:element minOccurs="0" name="attributeValueChangeSpec" type="tns:attributeValueChangeSpecDataObj" />
      <xs:element minOccurs="0" name="defaultValue" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="showInTriage" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeValueChangeSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributeValueIds" nillable="true" type="tns:attributeValueIdDataObj" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributeValues" nillable="true" type="tns:attributeValueSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeValueSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="deprecated" type="xs:boolean" />
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAttributeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" />
      <xs:element minOccurs="0" name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAttributeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteTriageStore">
    <xs:sequence>
      <xs:element minOccurs="0" name="triageStoreId" type="tns:triageStoreIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteTriageStoreResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSnapshotsForStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="streamId" type="tns:streamIdDataObj" />
      <xs:element minOccurs="0" name="filterSpec" type="tns:snapshotFilterSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshotFilterSpecDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="descriptionPattern" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hasSummaries" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastBeforeCodeVersionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="targetPattern" type="xs:string" />
      <xs:element minOccurs="0" name="versionPattern" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSnapshotsForStreamResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:snapshotIdDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setMessageOfTheDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setMessageOfTheDayResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setSnapshotPurgeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="purgeDetailsSpec" type="tns:snapshotPurgeDetailsObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSnapshotPurgeDetailsResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createLdapConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapConfigurationSpec" type="tns:ldapConfigurationSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createLdapConfigurationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCheckerNames">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCheckerNamesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="userSpec" type="tns:userSpecDataObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="deleteSnapshotJobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QUEUED" />
      <xs:enumeration value="RUNNING" />
      <xs:enumeration value="SUCCEEDED" />
      <xs:enumeration value="FAILED" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>